<div class="container">
    <app-page-title
        [title]="'PAGE.RECYCLING-PARTNERS.TITLE' | translate"
    ></app-page-title>
    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-4-12">
            <div class="m-card--primary">
                <app-vertical-menu
                    [menuItems]="[
                        {
                            link: 'cd1ec913-8119-4099-a242-b826bff489d6',
                            label: 'Alkaline - Nickel Metal'
                        },
                        {
                            link: '3ce5af7b-c555-4fdb-b8f6-46c8bfb42a72',
                            label: 'Zinc Carbon'
                        },
                        {
                            link: '0e5c2ce3-cef5-4074-966f-4d3cb5affe72',
                            label: 'Nickel Cadmium'
                        }
                    ]"
                ></app-vertical-menu>
                <button class="a-button--primary a-button-outline has-icon-after">
                    {{ 'GENERAL.LABELS.ADD-RECYCLING-PARTNER' }}
                </button>
                <p class="u-text-description">
                    {{ 'PAGE.RECYCLING-PARTNERS.DESCRIPTION' | translate }}
                </p>
            </div>
        </div>
        <div class="l-grid__col-8-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
