.o-menu--filled,
.o-menu--transparent {
    .container {
        display: flex;
        align-items: center;
        min-height: 74px;
        white-space: nowrap;

        .o-menu__left {
            display: flex;
            align-items: center;
            flex-grow: 1;
            width: 50%;

            .o-menu__main-menu-wrapper {
                width: calc(100% - 100px);
            }
        }
        .o-menu__right {
            display: flex;
            > * {
                margin-right: $spacer-small;
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.o-menu--filled {
    background-color: $blue;
}

.o-menu--transparent {
    position: absolute;
    width: 100%;
    .container {
        .o-menu__content {
            width: calc(100% - #{$spacer-x-large});
        }
    }
}
