
<h1 class="p-auth__title">{{ 'GENERAL.LABELS.WELCOME' | translate }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <app-text-input
        class="u-margin-bottom-large"
        [control]="loginForm.get('email')"
        [label]="'GENERAL.LABELS.EMAIL' | translate"
        type="email"
    ></app-text-input>
    <app-text-input
        [control]="loginForm.get('password')"
        [label]="'GENERAL.LABELS.PASSWORD' | translate"
        type="password"
    ></app-text-input>
    <a [routerLink]="['../', 'forgot-password']" class="p-auth__reset-password">{{ 'GENERAL.LABELS.FORGOT-PASSWORD' | translate }}</a>
    <button type="submit" [disabled]="!loginForm.valid" class="a-button a-button--primary a-button--small u-margin-right">{{ 'GENERAL.LABELS.LOGIN' | translate }}</button>
    <a [routerLink]="['../', 'register']" class="a-link">{{ 'GENERAL.LABELS.REGISTER' | translate }}</a>
</form>
