.m-card {
    border-radius: $border-radius;
    padding: $spacer-large $spacer-x-large;
}

.m-card--primary {
    @extend .m-card;
    background-color: $white;
    border: 1px solid $mercury;
}

.m-card--secondary {
    @extend .m-card;
    background-color: $athens-gray;
    color: $tundora;
}

.m-card__placeholder {
    max-width: 200px;
    margin: 0 auto;
    padding: 2rem 0;

    img {
        max-width: 100%;
    }
}
