  .m-group {
    .m-group__title {
      color: $tundora;
      background: $white;
      border-radius: 10px;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.04);
      padding: $spacer;
      display: flex;
      margin: $spacer 0 0 0;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
    }

    &.m-group--open {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;

      .m-group__title {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .m-stats {
      background-color: darken($white, 3%);
    }
  }

.p-app-root--dark {
  .m-group {
    .m-group__title {
      color: $mercury;
      background: $black;
    }

    .m-stats {
      background-color: lighten($black, 2%);
    }
  }
}
