.m-range-picker {
  .m-range-picker__input-container {
    position: relative;
    display: inline-block;
    max-width: 1000px;
    min-width: 800px;
    width: 100%;

    .m-range-picker__input {
      border-radius: 10px;
      max-width: 500px;
      width: 100%;
      border: none;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.04);
      margin-bottom: $spacer-large;
      padding: $spacer $spacer $spacer $spacer-xx-large;
      background-color: $white;
      display: inline-block;
    }

    .m-range-picker__icon {
      position: absolute;
      top: $spacer;
      left: $spacer;
    }
  }

  .m-range-picker__label {
    margin: 0 0 $spacer-x-small 0;
    color: $boulder;
  }

  .md-drppicker {
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    padding: $spacer;

    // Sorry, not sorry
    transition: 0s ease !important;
  }
}

.m-range__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .m-range__refresh {
    font-weight: bold;
    font-size: 1.1em;
    color: #272727;
    margin-bottom: $spacer;
  }
}

.p-app-root--dark {
  .m-range__container {
    .m-range__refresh {
      color: #e2e2e2;
    }
  }
}
