.m-stats {
  position: relative;
  clear: both;
  padding: $spacer;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.04);
  background-color: $white;

  &.m-stats--with-corners {
    border-radius: 10px;
  }

  .m-stats__header {
    color: $tundora;
    margin: 0 0 $spacer 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .m-stats__title {
      font-size: 1.2em;
    }
  }

  .m-stats__container {
    .m-stats__chart {
      position: relative;
      margin-top: 60px;
      height: 100px;

      .chart-legend {
        position: absolute;
        top: -40px;
        left: 0;

        header {
          display: none;
        }
      }
    }
  }

  .m-stats__container--large {
    .m-stats__chart {
      position: relative;
      margin-top: 40px;
      height: 500px;

      .chart-legend {
        position: absolute;
        top: -40px;
        left: 0;

        header {
          display: none;
        }
      }
    }
  }
}


.chart-legend .legend-label .legend-label-text {
  color: $boulder !important;
}

.chart-legend .legend-label .active .legend-label-text {
  color: $black !important;
}

.p-app-root--dark {
  a {
    color: $white;
  }

  .chart-legend .legend-label .legend-label-text  {
    color: $mercury !important;
  }

  .chart-legend .legend-label .active .legend-label-text  {
    color: $white !important;
  }

  .m-stats {
    position: relative;
    clear: both;
    background-color: $black;

    .m-stats__header {
      color: $mercury;
    }

    text {
      fill: $mercury;
    }

    .gridline-path {
      stroke: $tundora;
    }
  }
}
