// Base
@import "./00_base/variables";
@import "./00_base/normalize";
@import "./00_base/typography";
@import "./00_base/colors";
@import "./00_base/root";
@import "./00_base/toastr";
@import "./00_base/mixins";
@import "./00_base/grid";
@import "./00_base/container";
@import "./00_base/utils";

// Molecules
@import "./02_molecules/m-alert";
@import "./02_molecules/m-stats";
@import "./02_molecules/m-group";
@import "./02_molecules/m-live";
@import "./02_molecules/m-page-title";
@import "./02_molecules/m-footer";
@import "./02_molecules/m-range-picker";

// Pages
@import "./05_pages/p-app-root";

.ranges ul span li:last-of-type {
  display: none;
}

.fa-refresh {
  position: relative;
  top: -2px;
  left: -2px;
}
