<div *ngIf="(data$ | async)" class="m-stats">
  <p class="m-stats__header"><span class="m-stats__title">{{ monitor.name }}</span><span><a a [routerLink]="['monitors', monitor.id]">View more</a></span></p>
  <div class="m-stats__container">
    <div class="m-stats__chart" *ngFor="let chartData of (data$ | async)">
      <ngx-charts-line-chart
        legendPosition="below"
        [results]="[chartData]"
        [legend]="true"
        [xAxis]="true"
        [yAxis]="true"
        [xScaleMin]="xScaleMin"
        [scheme]="{domain: [monitor.color]}">
        <ng-template #tooltipTemplate let-model="model">
          <p>{{model.name | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
          <h3>{{model.value}}</h3>
        </ng-template>
        <ng-template #seriesTooltipTemplate let-model="model">
          <p>{{model[0].name | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</p>
          <h3 *ngFor="let stat of model">{{stat.series}}: {{stat.value}}</h3>
        </ng-template>
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
