<form>
    <ng-container *ngIf="form">
        <app-text-input
            class="u-margin-bottom-large"
            [control]="form.get('data.firstname')"
            [label]="'GENERAL.LABELS.FIRSTNAME' | translate"
        ></app-text-input>

        <app-text-input
            class="u-margin-bottom-large"
            [control]="form.get('data.lastname')"
            [label]="'GENERAL.LABELS.LASTNAME' | translate"
        ></app-text-input>

        <app-text-input
            class="u-margin-bottom-large"
            [control]="form.get('data.email')"
            [label]="'GENERAL.LABELS.EMAIL' | translate"
            type="email"
        ></app-text-input>
    </ng-container>

    <button class="a-button--primary a-button--small u-margin-top-large u-margin-right-large" [disabled]="!form?.valid">{{ 'GENERAL.BUTTONS.SAVE' | translate }}</button>
    <a class="a-link" [routerLink]="['../']">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</a>
</form>
