<form>
    <ng-container *ngIf="form">
        <app-sub-section-title
            [title]="'PAGE.USER-ADMIN.MAIN-INFORMATION' | translate"
            class="u-margin-bottom-large"
        ></app-sub-section-title>

        <app-text-input
            class="u-margin-bottom-large"
            [control]="form.get('data.firstname')"
            [label]="'GENERAL.LABELS.FIRSTNAME' | translate"
        ></app-text-input>

        <app-text-input
            class="u-margin-bottom-large"
            [control]="form.get('data.lastname')"
            [label]="'GENERAL.LABELS.LASTNAME' | translate"
        ></app-text-input>

        <app-text-input
            class="u-margin-bottom-large"
            [control]="form.get('data.email')"
            [label]="'GENERAL.LABELS.EMAIL' | translate"
            type="email"
        ></app-text-input>

        <app-sub-section-title
            [title]="'PAGE.USER-ADMIN.CONFIGURATION' | translate"
            class="u-margin-bottom-large"
        ></app-sub-section-title>

        <app-select-input
            class="u-margin-bottom-large"
            [control]="form.get('data.company')"
            [label]="'GENERAL.LABELS.COMPANY' | translate"
            [options]="companyOptions"
        ></app-select-input>

        <app-checkbox-input
            class="u-margin-bottom-large"
            [control]="form.get('meta.activated')"
            [label]="'GENERAL.LABELS.ACTIVATED' | translate"
        ></app-checkbox-input>
    </ng-container>

    <app-sub-section-title class="u-margin-top-x-large"></app-sub-section-title>
    <button
        type='button'
        *ngIf="user?.meta?.status?.type === statusTypes?.PENDING"
        class="a-button--success a-button-outline has-icon-after u-text-uppercase u-margin-right u-margin-top-large"
        (click)="handleRequest(true)"
        [disabled]="!form?.valid"
    >
        {{ 'GENERAL.LABELS.ACCEPT' | translate }}
    </button>
    <button
        type='button'
        *ngIf="user?.meta?.status?.type === statusTypes?.PENDING"
        class="a-button--danger a-button-outline has-icon-after u-text-uppercase u-margin-right u-margin-top-large"
        (click)="handleRequest(false)"
        [disabled]="!form?.valid"
    >
        {{ 'GENERAL.LABELS.DECLINE' | translate }}
    </button>

    <button
        *ngIf="user?.meta?.status?.type !== statusTypes?.PENDING"
        type="button"
        class="a-button--primary a-button--small u-margin-top-large u-margin-right-large"
        (click)="saveUser()"
        [disabled]="!form?.valid"
    >
        {{ 'GENERAL.BUTTONS.SAVE' | translate }}
    </button>
    <button
        *ngIf="user?.meta?.status?.type !== statusTypes?.PENDING"
        type="button"
        class="a-button u-margin-left-x-large a-button--secondary a-button--small"
        (click)="resetPassword()"
    >
        {{ 'GENERAL.LABELS.RESET-PASSWORD' | translate }}
    </button>
</form>
