<div *ngIf="!isReset">
  <h1 class="p-auth__title">{{ 'PAGE.RESET-PASSWORD.TITLE' | translate }}</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <app-text-input
      class="u-margin-bottom-large"
      [control]="resetPasswordForm.get(['passwords','password'])"
      [label]="'GENERAL.LABELS.PASSWORD' | translate" type="password"></app-text-input>
    <app-text-input
      class="u-margin-bottom-large"
      [control]="resetPasswordForm.get(['passwords','confirm_password'])"
      [label]="'GENERAL.LABELS.CONFIRMPASSWORD' | translate" type="password"></app-text-input>
    <button
      type="submit"
      [disabled]="!resetPasswordForm.get('passwords').valid"
      class="a-button a-button--primary a-button--small"
    >
      {{ 'GENERAL.LABELS.RESET-PASSWORD' | translate }}
    </button>
  </form>
</div>

<div *ngIf="isReset" class="u-align-center">
  <img src="./assets/images/forgot_password.svg" alt="forgot password" class="p-auth__visual">
  <h1 class="p-auth__title">{{ 'PAGE.RESET-PASSWORD.ISRESET' | translate }}</h1>
  <a
    [routerLink]="['../', 'login']"
    class="a-button--primary u-pull-center"
  >
    {{ 'GENERAL.LABELS.LOGIN' | translate }}
  </a>
</div>
