.m-footer {
    width: 100%;
    border-top: 1.5px solid $mercury;
    height: $footer-height;
    background-color: $white;
    position: relative;
    z-index: 50;

    &__copyright {
        display: inline-block;
        margin: $spacer-large $spacer $spacer 0;
        text-transform: capitalize;
    }

    &__link {
        display: inline-block;
        margin: $spacer;
        text-transform: capitalize;
    }
}
