.m-footer {
    width: 100%;
    border-top: 1.5px solid $mercury;
    height: $footer-height;

    &__copyright {
        display: inline-block;
        margin: $spacer-large $spacer-large $spacer-large 0;
    }

    &__link {
        display: inline-block;
        margin: $spacer-large;
    }
}
