.m-footer {
    width: 100%;
    border-top: 1.5px solid $mercury;
    height: $footer-height;
    background-color: $white;
    position: relative;
    z-index: 50;
    .container {
        display: flex;
        justify-content: space-between;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-block;
        margin: 0 $spacer;
        text-transform: capitalize;
        line-height: $footer-height;
    }
}
