.m-navigation-container {
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.m-navigation {
    display: flex;
    align-items: center;
}

.m-navigation__item {
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    margin: 0 $spacer-small;
    white-space: nowrap;
    color: $white;
    border-bottom: 3px solid transparent;

    &.active {
        color: $yellow;
        border-color: $yellow;
    }

    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        padding: 26px 0 26px 0;
    }

    .mat-button {
        color: inherit;
        background-color: inherit;
        line-height: inherit;
    }
}

.m-sub-navigation__item {
    padding: 0 10px;
    line-height: 2;

    a {
        color: $black;
        text-decoration: none;
    }
}
