.m-table {
    width: 100%;

    thead {
        tr {
            border-bottom: 1px solid $mercury;

            th, td {
                font-size: .8em;
                color: $gray;
                font-weight: normal;
                text-align: left;
                padding: $spacer-xx-small 0;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $mercury;

            td {
                padding: $spacer 0;
            }
        }
    }
}
