<div class="p-forgot-password">
    <div class="p-forgot-password__box">
        <h1 class="p-forgot-password__title">{{ 'PAGE.RESET-PASSWORD.TITLE' | translate }}</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
            <app-text-input
                class="u-margin-bottom-large"
                [control]="resetPasswordForm.get('token')"
                [label]="'GENERAL.LABELS.TOKEN' | translate"
                [disabled]="true"
            ></app-text-input>
            <app-text-input
                class="u-margin-bottom-large"
                [control]="resetPasswordForm.get('password')"
                [label]="'GENERAL.LABELS.PASSWORD' | translate"
                type="password"
            ></app-text-input>
            <input type="submit" [disabled]="!resetPasswordForm.valid" [value]="'GENERAL.LABELS.RESET-PASSWORD' | translate" class="a-button a-button--primary a-button--small">
        </form>
    </div>
</div>
