<app-page-title
    [title]="'PAGE.MANAGE-USERS.TITLE' | translate"
></app-page-title>
<div class="l-grid__row l-grid--with-margins">
    <div class="l-grid__col-4-12">
        <div class="m-card--primary">
            <h3 class="u-margin-bottom-large">Filters</h3>
            <div>
                <app-checkbox-input
                    class="u-margin-bottom-large"
                    [control]="filter.get('admin').get('selected')"
                    [label]="filter.get('admin').value.label"
                ></app-checkbox-input>
            </div>
            <div *ngFor="let type of filter.get('types')['controls']">
                <app-checkbox-input
                    class="u-margin-bottom-large"
                    [control]="type.get('selected')"
                    [label]="type.value.label"
                ></app-checkbox-input>
            </div>
        </div>
    </div>
    <div class="l-grid__col-8-12">
        <div class="m-card--primary u-margin-bottom-large">
            <app-loading [loading]="loading$ | async">
                <app-user-table *ngIf="users$ | async" [users]="users$ | async"></app-user-table>
            </app-loading>
        </div>
    </div>
</div>
