// Project colors.
$black: #000000;
$zodiac: #102E4F;
$blue: #11598B;
$tundora: #444444;
$boulder: #7C7C7C;
$mercury: #E1E1E1;
$athens-gray: #F3F3F4;
$white: #FFFFFF;
$yellow: #FFCB07;
$gray: #888888;
$alto: #D8D8D8;
$dusty-gray: #979797;

// Functional colors.
$danger: #FE4343;
$success: #06AD63;
