// Project colors.
$black: #000000;
$zodiac: #102E4F;
$blue: #11598B;
$tundora: #444444;
$grey: #F3F3F4;
$white: #FFFFFF;
$yellow: #FFCB07;

// Functional colors.
$danger: #FE4343;
$success: #06AD63;
