$spacer-x-small: 1rem / 2;
$spacer-small: 1rem / 1.5;
$spacer: 1rem;
$spacer-large: 1rem * 1.5;
$spacer-x-large: 1rem * 2;
$spacer-xx-large: 1rem * 3;

* {
    font-family: $font-family-lato;
    box-sizing: border-box;
}
