/**
 * MARGIN
 * -------------------------------------------------------------------
 */

.u-no-margin {
    margin: 0;
}

.u-margin-x-large {
    margin: $spacer-x-large;
}

.u-margin-large {
    margin: $spacer-large;
}

.u-margin {
    margin: $spacer;
}

.u-margin-small {
    margin: $spacer-small;
}

/**
 * MARGIN TOP
 * -------------------------------------------------------------------
 */

.u-margin-top-x-large {
    margin-top: $spacer-x-large;
}

.u-margin-top-large {
    margin-top: $spacer-large;
}

.u-margin-top {
    margin-top: $spacer;
}

.u-margin-top-small {
    margin-top: $spacer-small;
}

/**
 * MARGIN RIGHT
 * -------------------------------------------------------------------
 */

.u-margin-right-x-large {
    margin-right: $spacer-x-large;
}

.u-margin-right-large {
    margin-right: $spacer-large;
}

.u-margin-right {
    margin-right: $spacer;
}

.u-margin-right-small {
    margin-right: $spacer-small;
}

/**
 * MARGIN BOTTOM
 * -------------------------------------------------------------------
 */

.u-margin-bottom-x-large {
    margin-bottom: $spacer-x-large;
}

.u-margin-bottom-large {
    margin-bottom: $spacer-large;
}

.u-margin-bottom {
    margin-bottom: $spacer;
}

.u-margin-bottom-small {
    margin-bottom: $spacer-small;
}

/**
 * MARGIN LEFT
 * -------------------------------------------------------------------
 */

.u-margin-left-x-large {
    margin-left: $spacer-x-large;
}

.u-margin-left-large {
    margin-left: $spacer-large;
}

.u-margin-left {
    margin-left: $spacer;
}

.u-margin-left-small {
    margin-left: $spacer-small;
}

/**
 * FLOATS
 * -------------------------------------------------------------------
 */

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

 /**
 * USER
 * -------------------------------------------------------------------
 */

.u-user-logged-in {
    padding-bottom: $footer-height;
}

/**
 * TEXT
 * -------------------------------------------------------------------
 */

.u-text-description {
    color: $boulder;
    font-size: .8em;
}
