/**
 * MARGIN
 * -------------------------------------------------------------------
 */

.u-margin-large {
    margin: $spacer-large;
}

.u-margin {
    margin: $spacer;
}

.u-margin-small {
    margin: $spacer-small;
}

/**
 * MARGIN TOP
 * -------------------------------------------------------------------
 */

 .u-margin-top-large {
    margin-top: $spacer-large;
}

.u-margin-top {
    margin-top: $spacer;
}

.u-margin-top-small {
    margin-top: $spacer-small;
}

/**
 * MARGIN RIGHT
 * -------------------------------------------------------------------
 */

.u-margin-right-large {
    margin-right: $spacer-large;
}

.u-margin-right {
    margin-right: $spacer;
}

.u-margin-right-small {
    margin-right: $spacer-small;
}

/**
 * MARGIN BOTTOM
 * -------------------------------------------------------------------
 */

.u-margin-bottom-large {
    margin-left: $spacer-large;
}

.u-margin-bottom {
    margin-left: $spacer;
}

.u-margin-bottom-small {
    margin-left: $spacer-small;
}

/**
 * MARGIN LEFT
 * -------------------------------------------------------------------
 */

.u-margin-left-large {
    margin-left: $spacer-large;
}

.u-margin-left {
    margin-left: $spacer;
}

.u-margin-left-small {
    margin-left: $spacer-small;
}
