<div class="p-forgot-password">
    <div *ngIf="!isSent" class="p-forgot-password__box">
        <h1 class="p-forgot-password__title">{{ 'PAGE.RESET-PASSWORD.TITLE' | translate }}</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
            <app-text-input
                class="u-margin-bottom-large"
                [control]="resetPasswordForm.get('email')"
                [label]="'GENERAL.LABELS.EMAIL' | translate"
                type="email"
            ></app-text-input>
            <input type="submit" [disabled]="!resetPasswordForm.valid" [value]="'GENERAL.LABELS.RESET-PASSWORD' | translate" class="a-button a-button--primary a-button--small">
        </form>
    </div>

    <div *ngIf="isSent" class="p-forgot-password__box u-align-center">
        <img src="./assets/images/mail_sent.svg" alt="mail sent" class="p-forgot-password__visual">
        <h1 class="p-forgot-password__title">{{ 'PAGE.FORGOT-PASSWORD.SUCCESS.TITLE' | translate }}</h1>
        <p>{{ 'PAGE.FORGOT-PASSWORD.SUCCESS.DESCRIPTION' | translate }}</p>
    </div>

</div>
