<app-page-title
    [title]="'PAGE.MANAGE-COMPANIES.TITLE' | translate"
></app-page-title>
<div class="l-grid__row l-grid--with-margins">
    <div class="l-grid__col-4-12">
        <div class="m-card--primary">
            <h3 class="u-margin-bottom-large" translate>PAGE.ADMIN.FILTERS</h3>
            <div *ngFor="let type of filter.get('types')['controls']">
                <app-checkbox-input
                    class="u-margin-bottom-large"
                    [control]="type.get('selected')"
                    [label]="type.value.label"
                ></app-checkbox-input>
            </div>
            <button class="a-button--primary a-button-outline has-icon-after" routerLink="new">
                {{ 'GENERAL.LABELS.ADD-COMPANY' | translate }}
            </button>
        </div>
    </div>
    <div class="l-grid__col-8-12">
        <div class="m-card--primary u-margin-bottom-large">
            <app-loading [loading]="loading$ | async">
                <app-companies-table *ngIf="companies$ | async" [companies]="companies$ | async"></app-companies-table>
            </app-loading>
        </div>
    </div>
</div>
