<div class="m-card--primary" *ngIf="recyclingPartnerForm">
    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-text-input
                [label]="'GENERAL.LABELS.COMPANYNAME' | translate"
                class="u-margin-bottom-x-large"
                [control]="recyclingPartnerForm.get('name')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.COMPANYVAT' | translate"
                class="u-margin-bottom-x-large"
                [control]="recyclingPartnerForm.get('vat')"
            ></app-text-input>
        </div>
    </div>

    <app-sub-section-title
        [title]="'PAGE.RECYCLING-PARTNERS.ADDRESSINFORMATION' | translate"
        class="u-margin-bottom-large"
    ></app-sub-section-title>

    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-text-input
                [label]="'GENERAL.LABELS.STREETNAME' | translate"
                class="u-margin-bottom-large"
                [control]="recyclingPartnerForm.get('address').get('street')"
            ></app-text-input>
            <div class="l-grid__row l-grid--with-margins">
                <div class="l-grid__col-6-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.STREETNUMBER' | translate"
                        class="u-margin-bottom-large"
                        [control]="recyclingPartnerForm.get('address').get('number')"
                    ></app-text-input>
                </div>
                <div class="l-grid__col-6-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.BOX' | translate"
                        class="u-margin-bottom-large"
                        [control]="recyclingPartnerForm.get('address').get('box')"
                    ></app-text-input>
                </div>
            </div>
            <div class="l-grid__row l-grid--with-margins">
                <div class="l-grid__col-4-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.ZIPCODE' | translate"
                        class="u-margin-bottom-large"
                        [control]="recyclingPartnerForm.get('address').get('zipCode')"
                    ></app-text-input>
                </div>
                <div class="l-grid__col-8-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.CITY' | translate"
                        class="u-margin-bottom-large"
                        [control]="recyclingPartnerForm.get('address').get('city')"
                    ></app-text-input>
                </div>
            </div>
            <app-select-input
                [label]="'GENERAL.LABELS.COUNTRY' | translate"
                [options]="countryList"
                class="u-margin-bottom-x-large"
                [control]="recyclingPartnerForm.get('address').get('country')"
            ></app-select-input>
        </div>
    </div>

    <app-sub-section-title
        [title]="'PAGE.RECYCLING-PARTNERS.CONTACTPERSON' | translate"
        class="u-margin-bottom-large"
    ></app-sub-section-title>

    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-text-input
                [label]="'GENERAL.LABELS.NAME' | translate"
                class="u-margin-bottom-large"
                [control]="recyclingPartnerForm.get('contactPerson').get('name')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.FUNCTION' | translate"
                class="u-margin-bottom-large"
                [control]="recyclingPartnerForm.get('contactPerson').get('function')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.PHONE' | translate"
                class="u-margin-bottom-large"
                [control]="recyclingPartnerForm.get('contactPerson').get('phone')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.MOBILEPHONE' | translate"
                class="u-margin-bottom-large"
                [control]="recyclingPartnerForm.get('contactPerson').get('mobile')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.EMAIL' | translate"
                class="u-margin-bottom-large"
                [control]="recyclingPartnerForm.get('contactPerson').get('email')"
            ></app-text-input>
        </div>
    </div>

    <app-sub-section-title class="u-margin-top-large"></app-sub-section-title>

    <div class="u-margin-top-large">
        <button
            class="a-button--primary has-icon-after"
            (click)="saveForm()"
        >
            {{ 'GENERAL.LABELS.SAVE' | translate }}
        </button>
        <div class="u-pull-right">
            <button
                *ngIf="isActivated"
                class="a-button--danger a-button-outline has-icon-after u-text-uppercase u-margin-right"
                (click)="toggleActivationForm()"
            >
                {{ 'GENERAL.LABELS.DISABLE' | translate }}
            </button>
            <button
                *ngIf="!isActivated"
                class="a-button--success a-button-outline has-icon-after u-text-uppercase u-margin-right"
                (click)="toggleActivationForm()"
            >
                {{ 'GENERAL.LABELS.ENABLE' | translate }}
            </button>
            <button
                *ngIf="!!recyclingPartner?._id"
                class="a-button--danger has-icon-after u-text-uppercase"
                (click)="removeForm()"
            >
                {{ 'GENERAL.LABELS.REMOVE' | translate }}
            </button>
            <app-delete-popup
                *ngIf="deletedClicked"
                [title]="'GENERAL.POPUP.DELETEITEM' | translate"
                (confirmDeleteItem)="confirmRemoveForm($event)"
                (cancelDeleteItem)="cancelRemoveForm($event)"
            ></app-delete-popup>
        </div>
    </div>
</div>
