<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Rare - Password reset request</title>
</head>
<body>
	<h1>Hi {{firstname}},</h1>
	<p>
		You have requested a password reset for your account. <br>
		Please click on the link below to reset:
	</p>
	<p>
		<a href="{{frontendHostname}}{{confirmPath}}">{{frontendHostname}}{{confirmPath}}</a>
	</p>
</body>
</html>
