<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Rare - Registration confirmation</title>
</head>
<body>
	<h1>Welcome {{firstname}},</h1>
	<p>
		You're registration was succesfull.<br>
		Please verify you email address by clicking on the link below:
	</p>
	<p>
		<a href="{{frontendHostname}}{{confirmPath}}">{{frontendHostname}}{{confirmPath}}</a>
	</p>
</body>
</html>
