.a-button {
  font-family: $font-family-lato;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: 18px;
  letter-spacing: 2.4px;
  border-radius: 4px;
  padding: $spacer $spacer-xx-large;
  border: 1px solid;
  text-decoration: none;
  margin-bottom: $spacer;
  @include transition(all 0.5s ease-in-out);
  display: flex;
  align-items: center;
  position: relative;
}

// Button types.
.a-button--primary {
  @extend .a-button;
  background-color: $blue;
  border-color: $blue;
  color: $white;
  text-transform: uppercase;
  &:hover {
    background-color: rgba($blue, 0.8);
    border-color: rgba($blue, 0.8);
  }
}

.a-button--success {
  @extend .a-button;
  background-color: $success;
  border-color: $success;
  color: $white;
  &:hover {
    background-color: rgba($success, 0.8);
    border-color: rgba($success, 0.8);
  }
}

.a-button--danger {
  @extend .a-button;
  background-color: $danger;
  border-color: $danger;
  color: $white;
  &:hover {
    background-color: rgba($danger, 0.8);
    border-color: rgba($danger, 0.8);
  }
}

// Button outline colors.
.a-button-outline {
  &.a-button--primary {
    background-color: $white;
    color: $blue;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  &.a-button--success {
    background-color: $white;
    color: $success;
    &:hover {
      background-color: $success;
      color: $white;
    }
  }
  &.a-button--danger {
    background-color: $white;
    color: $danger;
    &:hover {
      background-color: $danger;
      color: $white;
    }
  }
}

// Button sizes.
.a-button--small {
  padding: $spacer-x-small $spacer-small;
  font-size: $font-size-small;
  letter-spacing: 0.6px;
  line-height: 17px;
}
