.a-button {
  font-family: $font-family-lato;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  line-height: 15px;
  letter-spacing: 2.4px;
  border-radius: 4px;
  padding: 10.5px 21.5px;
  border: 1px solid;
  @include transition(all 0.5s ease-in-out);
}

// Button types.
.a-button--primary {
  @extend .a-button;
  background-color: $blue;
  border-color: $blue;
  color: $white;
  text-transform: uppercase;
  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.a-button--success {
  @extend .a-button;
  background-color: $success;
  border-color: $success;
  color: $white;
  &:hover {
    background-color: $white;
    color: $success;
  }
}

.a-button--danger {
  @extend .a-button;
  background-color: $danger;
  border-color: $danger;
  color: $white;
  &:hover {
    background-color: $white;
    color: $danger;
  }
}

// Button outline colors.
.a-button-outline {
  &.a-button--primary {
    background-color: $white;
    color: $blue;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
  &.a-button--success {
    background-color: $white;
    color: $success;
    &:hover {
      background-color: $success;
      color: $white;
    }
  }
  &.a-button--danger {
    background-color: $white;
    color: $danger;
    &:hover {
      background-color: $danger;
      color: $white;
    }
  }
}

// Button sizes.
.a-button--small {
  padding: 5px 12px;
  font-size: $font-size-regular;
  letter-spacing: 1.2px;
  line-height: 17px;
}
