/*
 * e901 = arrow-bottom
 * e902 = checkmark
 * e903 = help
 * e904 = plus
 */

.a-icon {
    position: absolute;
    left: 5px;
    color:inherit;
    font-size: $font-size-large;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-font' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.a-icon--arrow-bottom {
    @extend .a-icon;
    &::before {
        content: "\e901";
    }
}

.a-icon--checkmark {
    @extend .a-icon;
    &::before {
        content: "\e902";
    }
}
.a-icon--plus {
    @extend .a-icon;
    &::before {
        content: "\e903";
    }
}

.a-icon--help {
    @extend .a-icon;
    &::before {
        content: "\e904";
    }
}
