.a-site-logo {
  margin-right: $spacer-x-large;
}

.a-site-logo--small {
  @extend .a-site-logo;
  width: 22px;
  height: 24px;
}

.a-site-logo--white {
  @extend .a-site-logo;
  width: 112px;
  height: 26px;
  background-color: $white;
}

.a-site-logo--full {
  display: block;
  margin-left: $spacer;
  height: 20px;
  img {
    height: inherit;
  }
}
