.a-table-wrapper {
    overflow-x: auto;
}

.a-table {
    width: 100%;
    text-align: left;

    td:not(:last-child) {
        padding: 1.5rem 1.5rem 1.5rem 0;
    }

    th:not(:last-child) {
        padding: 1rem 1rem 1rem 0;
    }

    thead {
        th {
            color: $gray;
            font-weight: normal;
            font-size: 14px;
        }
    }

    .a-table__row--header {
        border-top: 1px solid #E1E1E1;
    }

    tr.a-table__row--small {
        &:nth-child(odd) {
            background-color: $athens-gray;
        }

        td:not(:last-child) {
            padding: 1rem 1rem 1rem 0;
        }

        td:first-child {
            padding-left: .5rem;
        }

        td:first-child {
            color: $gray;
        }
    }
}

.a-table__cell--center {
    text-align: center;
}
