{
	"include": [
		"./**/*.js"
	],
	"exclude": [
		"**/*.spec.js",
		"node_modules/**/*.js"
	],
	"require": [
		"@babel/register",
		"mocha"
	],
	"sourceMap": false,
	"instrument": false,
	"reporter": [
		"lcov",
		"text-summary"
	],
	"reportDir": "./test/coverage"
}
