<app-page-title
    [title]="('PAGE.AUDITTRAIL.TITLE' | translate)"
></app-page-title>

<div class="m-card--primary u-margin-bottom-large">
  <app-audit-trail-table
    *ngIf="(logs$ | async)"
    [logs]='logs$ | async'
  ></app-audit-trail-table>
  <div *ngIf="!(logs$ | async) || (logs$ | async).length === 0" class="p-audit-trail__no-logs">
    <app-section-title
      [title]="'WIZARD.NO-LOGS' | translate"
    ></app-section-title>
    <img class="p-audit-trail__visual" src="/assets/images/choose.svg" alt="Choose image">
  </div>
</div>
