<div class="o-menu--filled">
    <div class="container">
        <div class="o-menu__left">
            <div>
                <a routerLink="/" class="a-site-logo"><img src="/assets/images/logo.png" alt="Logo"></a>
            </div>
            <nav class="m-menu--main">
                <a [routerLink]="['/about']" class="m-menu--main__item" routerLinkActive="active">{{ 'GENERAL.MENU.ABOUT' | translate }}</a>
                <a [routerLink]="['/contact']" class="m-menu--main__item" routerLinkActive="active">{{ 'GENERAL.MENU.CONTACT' | translate }}</a>
            </nav>
        </div>

        <div class="o-menu__right">
            <a *ngIf="user?.status?.type === 'ACTIVATED' && user?.company" [routerLink]="['/', 'recycler']" class="m-menu--user__title a-button--secondary a-button-outline">{{ 'GENERAL.BUTTONS.GOTOAPP' | translate }}</a>
            <app-user-menu [profile]="user" (logout)="onLogout()"></app-user-menu>
        </div>
    </div>
</div>
