

<div class="o-menu--filled">
    <div class="container">
        <div class="o-menu__left">
            <nav class="m-menu--main">
                <a [routerLink]="['/about']" class="m-menu--main__item" routerLinkActive="active">{{ 'GENERAL.MENU.ABOUT' | translate }}</a>
                <a [routerLink]="['/contact']" class="m-menu--main__item" routerLinkActive="active">{{ 'GENERAL.MENU.CONTACT' | translate }}</a>
                <a [routerLink]="['/privacy']" class="m-menu--main__item" routerLinkActive="active">{{ 'GENERAL.MENU.PRIVACY' | translate }}</a>
            </nav>
        </div>

        <div class="o-menu__right">
            <a [routerLink]="['/', 'app']" class="m-menu--user__title a-button--secondary a-button-outline">{{ 'GENERAL.BUTTONS.GOTOAPP' | translate }}</a>
            <app-user-menu [profile]="user" (logout)="onLogout()"></app-user-menu>
        </div>
    </div>
</div>
