<div class="m-card--primary u-margin-bottom-large">
    <app-section-title
        title="Alkaline - Nickel Metal"
        class="u-margin-bottom"
    ></app-section-title>
    <app-text-input
        [label]="'PAGE.RECYCLING-PROCESSES.LABELS.NAME' | translate"
        class="u-margin-bottom-x-large"
    ></app-text-input>
    <div class="m-card--secondary u-margin-bottom-x-large">
        <p class="u-no-margin u-margin-bottom"><b>{{ 'PAGE.RECYCLING-PROCESSES.PROCESS-TITLE' | translate }}</b></p>
        <p class="u-no-margin">{{ 'PAGE.RECYCLING-PROCESSES.PROCESS-DESCRIPTION' | translate }}</p>
    </div>
    <div *ngFor="let step of recyclingProcessForm.controls.steps.controls | keyvalue">
        <app-sub-section-title
            [title]="'PAGE.RECYCLING-PROCESSES.RECYCLING-STEP' | translate:{key: getStepKey(step.key)}"
            class="u-margin-bottom-large"
        ></app-sub-section-title>
        <app-text-input
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.PRECEDING-STEP' | translate"
            class="u-margin-bottom-x-large"
        ></app-text-input>
        <app-text-input
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.DESCRIPTION' | translate"
            [description]="'PAGE.RECYCLING-PROCESSES.LABELS.DESCRIPTION-DESCRIPTION' | translate"
            class="u-margin-bottom-x-large"
        ></app-text-input>
        <app-text-input
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.RECYCLING-SITE-OWNER' | translate"
            class="u-margin-bottom-large"
        ></app-text-input>
        <app-text-input
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.PROCESSING-METHOD' | translate"
            class="u-margin-bottom-large"
        ></app-text-input>
        <app-textarea-input
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.QUALITATIVE-DESCRIPTION' | translate"
            [description]="'PAGE.RECYCLING-PROCESSES.LABELS.QUALITATIVE-DESCRIPTION-DESCRIPTION' | translate"
        ></app-textarea-input>
        <app-file-upload
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.UPLOAD-FILE-WITH-FURTHER-DETAILS' | translate"
            class="u-margin-bottom-x-large"
        ></app-file-upload>
        <app-file-upload
            [title]="'PAGE.RECYCLING-PROCESSES.LABELS.SCHEMATIC-OVERVIEW' | translate"
            [description]="'PAGE.RECYCLING-PROCESSES.LABELS.SCHEMATIC-OVERVIEW-DESCRIPTION' | translate"
            class="u-margin-bottom-large"
        ></app-file-upload>
    </div>
    <button class="a-button--primary a-button-outline has-icon-after" (click)="addStep()">
        {{ 'GENERAL.LABELS.ADD-ADDITIONAL-STEP' }}
    </button>
</div>
