<div class="p-profile">
    <app-page-title [title]="'PAGE.PROFILE.TITLE' | translate"></app-page-title>
    <div class="m-card--primary">
        <form [formGroup]="profileForm" (ngSubmit)="submit()">
            <div class="l-grid__row">
                <div class="l-grid__col-6-12">
                    <app-text-input
                        [control]="profileForm.get('firstname')"
                        [label]="'GENERAL.LABELS.FIRSTNAME' | translate"
                        class="u-margin-bottom-large"
                    ></app-text-input>
                    <app-text-input
                        [control]="profileForm.get('lastname')"
                        [label]="'GENERAL.LABELS.LASTNAME' | translate"
                        class="u-margin-bottom-large"
                    ></app-text-input>
                    <app-text-input
                        [control]="profileForm.get('email')"
                        [label]="'GENERAL.LABELS.EMAIL' | translate"
                        type="email"
                        class="u-margin-bottom-large"
                    ></app-text-input>
                    <div class="u-flex">
                        <input type="submit" [value]="'GENERAL.LABELS.UPDATE-PROFILE' | translate" class="a-button a-button--primary a-button--small">
                        <button
                            type="button"
                            class="a-button u-margin-left-x-large a-button--secondary a-button--small"
                            (click)="resetPassword()"
                        >
                            {{ 'GENERAL.LABELS.RESET-PASSWORD' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
