<div class="m-card--primary u-margin-bottom-large">
    <div *ngIf="!recyclingProcessId" class="m-card__placeholder">
        <img src="/assets/images/choose.svg" alt="Choose image">
    </div>

    <div *ngIf="recyclingProcessId">
        <app-section-title
            title="Alkaline - Nickel Metal"
            class="u-margin-bottom"
        ></app-section-title>
        <app-text-input
            [label]="'PAGE.RECYCLING-PROCESSES.LABELS.NAME' | translate"
            [control]="recyclingProcessForm.get('name')"
            class="u-margin-bottom-x-large"
        ></app-text-input>
        <div class="m-card--secondary u-margin-bottom-x-large">
            <p class="u-no-margin u-margin-bottom"><b>{{ 'PAGE.RECYCLING-PROCESSES.PROCESS-TITLE' | translate }}</b></p>
            <p class="u-no-margin">{{ 'PAGE.RECYCLING-PROCESSES.PROCESS-DESCRIPTION' | translate }}</p>
        </div>
        <div *ngFor="let step of recyclingProcessForm.controls.steps.controls | keyvalue">
            <app-sub-section-title
                [title]="step.value.get('description').value || ('PAGE.RECYCLING-PROCESSES.RECYCLING-STEP' | translate:{ key: getStepKey(step.key) })"
                class="u-margin-bottom-large"
            >
                <div action>
                    <button class="a-button--link a-button--small" (click)="deleteStep(step.key)">{{ 'GENERAL.LABELS.DELETE-STEP' | translate }}</button>
                    <button class="a-button--link a-button--small" (click)="duplicateStep(step.key)">{{ 'GENERAL.LABELS.DUPLICATE-STEP' | translate }}</button>
                </div>
            </app-sub-section-title>
            <app-select-input
                [label]="'PAGE.RECYCLING-PROCESSES.LABELS.PRECEDING-STEP' | translate"
                [control]="step.value.get('precedingStep')"
                [options]="precedingSteps(step)"
                class="u-margin-bottom-x-large"
            ></app-select-input>
            <app-text-input
                [label]="'PAGE.RECYCLING-PROCESSES.LABELS.DESCRIPTION' | translate"
                [description]="'PAGE.RECYCLING-PROCESSES.LABELS.DESCRIPTION-DESCRIPTION' | translate"
                [control]="step.value.get('description')"
                class="u-margin-bottom-x-large"
            ></app-text-input>
            <app-text-input
                [label]="'PAGE.RECYCLING-PROCESSES.LABELS.RECYCLING-SITE-OWNER' | translate"
                [control]="step.value.get('site')"
                class="u-margin-bottom-x-large"
            ></app-text-input>
            <app-select-input
                [label]="'PAGE.RECYCLING-PROCESSES.LABELS.PROCESSING-METHOD' | translate"
                [control]="step.value.get('methodOfProcessing')"
                [options]="methodsOfProcessing"
                class="u-margin-bottom-x-large"
            ></app-select-input>
            <app-textarea-input
                [label]="'PAGE.RECYCLING-PROCESSES.LABELS.QUALITATIVE-DESCRIPTION' | translate"
                [description]="'PAGE.RECYCLING-PROCESSES.LABELS.QUALITATIVE-DESCRIPTION-DESCRIPTION' | translate"
                [control]="step.value.get('qualitativeDescription').get('text')"
            ></app-textarea-input>
            <app-file-upload
                [label]="'PAGE.RECYCLING-PROCESSES.LABELS.UPLOAD-FILE-WITH-FURTHER-DETAILS' | translate"
                class="u-margin-bottom-x-large"
            ></app-file-upload>
            <app-file-upload
                [title]="'PAGE.RECYCLING-PROCESSES.LABELS.SCHEMATIC-OVERVIEW' | translate"
                [description]="'PAGE.RECYCLING-PROCESSES.LABELS.SCHEMATIC-OVERVIEW-DESCRIPTION' | translate"
                class="u-margin-bottom-x-large"
            ></app-file-upload>
        </div>
        <button class="a-button--primary a-button-outline has-icon-after" (click)="addStep()">
            {{ 'GENERAL.LABELS.ADD-ADDITIONAL-STEP' | translate }}
        </button>
        <app-sub-section-title class="u-margin-top-large"></app-sub-section-title>
        <div class="u-margin-top-large">
            <button class="a-button--primary has-icon-after u-margin-right" (click)="save()">
                {{ 'GENERAL.LABELS.SAVE' | translate }}
            </button>
            <button *ngIf="!!process?._id" class="a-button--danger has-icon-after u-pull-right u-text-uppercase" (click)="remove()">
                {{ 'GENERAL.LABELS.REMOVE' | translate }}
            </button>
        </div>
    </div>
</div>
