<div *ngIf="!recyclingProcessId" class="m-card__placeholder">
    <img src="/assets/images/choose.svg" alt="Choose image">
</div>

<app-recycling-process-form
    *ngIf="recyclingProcessId"
    [recyclingProcess]="process"
    [recyclingPartners]="partners$ | async"
    [user]="user$ | async"
    (submit)="save($event)"
    (remove)="remove($event)"
    (toggleActivation)="toggleActivation($event)"
    (duplicate)="duplicateProcess($event)"
    [uploadResponse]="uploadResults"
    (upload)="onUpload($event)"
></app-recycling-process-form>
