<div *ngIf="!isSent">
    <h1 class="p-forgot-password__title">{{ 'PAGE.RESET-PASSWORD.TITLE' | translate }}</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <app-text-input
            class="u-margin-bottom-large"
            [control]="resetPasswordForm.get('email')"
            [label]="'GENERAL.LABELS.EMAIL' | translate"
            type="email"
        ></app-text-input>
        <button type="submit" [disabled]="!resetPasswordForm.valid" class="a-button a-button--primary a-button--small u-margin-right">{{ 'GENERAL.LABELS.RESET-PASSWORD' | translate }}</button>
        <a [routerLink]="['../', 'login']" class="a-link">{{ 'GENERAL.LABELS.LOGIN' | translate }}</a>
    </form>
</div>

<div *ngIf="isSent" class="p-forgot-password__box u-align-center">
    <img src="./assets/images/mail_sent.svg" alt="mail sent" class="p-forgot-password__visual">
    <h1 class="p-forgot-password__title">{{ 'PAGE.FORGOT-PASSWORD.SUCCESS.TITLE' | translate }}</h1>
    <p>{{ 'PAGE.FORGOT-PASSWORD.SUCCESS.DESCRIPTION' | translate }}</p>
</div>
