<div *ngIf="!proxies || proxies.length === 0" class="m-card--primary u-margin-bottom-large">
  <div class="m-card__placeholder">
    <img src="/assets/images/choose.svg" alt="Choose image">
  </div>
</div>
<div class="m-card--primary u-margin-bottom-large" *ngFor="let proxy of proxies">
  <app-sub-section-title
    class="p-proxies-proxy__title"
    [title]="proxy.proxyCompanyName"
  >
    <div action>
      <button
        class="a-button--link a-button--small"
        (click)="revokeProxy()"
      >
        {{'PROXIES.REVOKEPROXY' | translate}}
      </button>
    </div>
  </app-sub-section-title>
  <div class="a-table-wrapper">
    <form>
      <table class="a-table">
      <thead>
          <tr>
            <th></th>
            <ng-container *ngFor="let year of years">
              <th>{{ year }}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let process of proxy.processes">
            <tr class="a-table__row--header">
              <td>{{process.process}}</td>
              <ng-container *ngFor="let report of process.reports">
                <td>{{ (report.active) ? "v" : "x" }}</td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </form>
  </div>
</div>
