<div *ngIf="!proxies || proxies.length === 0" class="m-card--primary u-margin-bottom-large">
  <div class="m-card__placeholder">
    <img src="/assets/images/choose.svg" alt="Choose image">
  </div>
</div>
<ng-container *ngIf="proxiesForm">
  <div class="m-card--primary u-margin-bottom-large" *ngFor="let proxy of proxiesForm.controls">
    <app-sub-section-title
      class="p-proxies-proxy__title"
      [title]="proxy.value.companyInfo.companyName"
    >
      <div action>
        <button
          class="a-button--link a-button--small"
          (click)="revokeProxy()"
        >
          {{'PROXIES.REVOKEPROXY' | translate}}
        </button>
      </div>
    </app-sub-section-title>
    <div class="a-table-wrapper">
      <form>
        <table class="a-table">
        <thead>
            <tr>
              <th></th>
              <ng-container *ngFor="let year of years">
                <th>{{ year }}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let process of proxy.value.processes.controls">
              <tr class="a-table__row--header">
                <td>{{process.value.processInfo.processName}}</td>
                <ng-container *ngFor="let report of process.value.reports.controls">
                  <td>
                    <app-checkbox-input
                      [control]="report.get('value')"
                      [class]="(report.value.status === PROXY_OPTIONS.SEMI_CHECKED) ? 'a-input__checkbox--semi-checked' : ''"
                    >
                    </app-checkbox-input>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</ng-container>
