.o-menu--filled, .o-menu--transparent {
    padding: $spacer 0;
    .container {
        display: flex;
        align-items: center;
        .o-menu__left {
            flex-grow: 1;
        }
        .o-menu__right {
            display: flex;
            > * {
                margin-right: $spacer-small;
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.o-menu--filled {
    background-color: $blue;
}

.o-menu--transparent {
    position: absolute;
    width: 100%;
    .container {
        .o-menu__content {
            width: calc(100% - #{$spacer-x-large});
        }
    }
}
