.o-menu--primary {
    background-color: $blue;
    padding: $spacer 0;
    .container {
        display: flex;
        align-items: center;
        .o-menu__left {
            flex-grow: 1;
        }
        .o-menu__right {
            display: flex;
            > * {
                margin-right: $spacer-small;
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.o-menu--secondary {
    .container {
        position: relative;
        .o-menu__content {
            position: absolute;
            padding: $spacer 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}
