<app-page-title
    [title]="'PAGE.RECYCLING-PROCESSES.TITLE' | translate"
></app-page-title>
<div class="l-grid__row l-grid--with-margins">
    <div class="l-grid__col-4-12">
        <div class="m-card--primary">
            <app-vertical-menu
                [menuItems]="($processMenuItems | async)"
            ></app-vertical-menu>
            <button class="a-button--primary a-button-outline has-icon-after u-margin-top" routerLink="new">
                {{ 'GENERAL.LABELS.ADD-RECYCLING-PROCESS' | translate }}
            </button>
            <p class="u-text-description">
                {{ 'PAGE.RECYCLING-PROCESSES.DESCRIPTION' | translate }}
            </p>
        </div>
    </div>
    <div class="l-grid__col-8-12">
        <router-outlet></router-outlet>
    </div>
</div>
