<ng-container *ngIf="form">
    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-text-input
                [label]="'GENERAL.LABELS.COMPANYNAME' | translate"
                class="u-margin-bottom-x-large"
                [control]="form.get('data.name')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.COMPANYVAT' | translate"
                class="u-margin-bottom-x-large"
                [control]="form.get('data.vat')"
            ></app-text-input>
        </div>
    </div>

    <app-sub-section-title
        [title]="'PAGE.COMPANY.ADDRESSINFORMATION' | translate"
        class="u-margin-bottom-large"
    ></app-sub-section-title>

    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-text-input
                [label]="'GENERAL.LABELS.STREETNAME' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('data.address').get('street')"
            ></app-text-input>
            <div class="l-grid__row l-grid--with-margins">
                <div class="l-grid__col-6-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.STREETNUMBER' | translate"
                        class="u-margin-bottom-large"
                        [control]="form.get('data.address').get('number')"
                    ></app-text-input>
                </div>
                <div class="l-grid__col-6-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.BOX' | translate"
                        class="u-margin-bottom-large"
                        [control]="form.get('data.address').get('box')"
                    ></app-text-input>
                </div>
            </div>
            <div class="l-grid__row l-grid--with-margins">
                <div class="l-grid__col-4-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.ZIPCODE' | translate"
                        class="u-margin-bottom-large"
                        [control]="form.get('data.address').get('zipCode')"
                    ></app-text-input>
                </div>
                <div class="l-grid__col-8-12">
                    <app-text-input
                        [label]="'GENERAL.LABELS.CITY' | translate"
                        class="u-margin-bottom-large"
                        [control]="form.get('data.address').get('city')"
                    ></app-text-input>
                </div>
            </div>
            <app-select-input
                [label]="'GENERAL.LABELS.COUNTRY' | translate"
                [options]="countryList"
                class="u-margin-bottom-x-large"
                [control]="form.get('data.address').get('country')"
            ></app-select-input>
        </div>
    </div>

    <app-sub-section-title
        [title]="'PAGE.COMPANY.CONTACTPERSON' | translate"
        class="u-margin-bottom-large"
    ></app-sub-section-title>

    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-text-input
                [label]="'GENERAL.LABELS.NAME' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('data.contactPerson').get('name')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.FUNCTION' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('data.contactPerson').get('function')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.PHONE' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('data.contactPerson').get('phone')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.MOBILEPHONE' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('data.contactPerson').get('mobile')"
            ></app-text-input>
            <app-text-input
                [label]="'GENERAL.LABELS.EMAIL' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('data.contactPerson').get('email')"
                type="email"
            ></app-text-input>
        </div>
    </div>

    <app-sub-section-title
        [title]="'PAGE.COMPANY.META' | translate"
        class="u-margin-bottom-large"
    ></app-sub-section-title>

    <div class="l-grid__row l-grid--with-margins">
        <div class="l-grid__col-8-12">
            <app-checkbox-input
                [label]="'GENERAL.LABELS.ACTIVATED' | translate"
                class="u-margin-bottom-large"
                [control]="form.get('meta.activated')"
            ></app-checkbox-input>
            <app-select-input
                [label]="'GENERAL.LABELS.COMPANYTYPE' | translate"
                class="u-margin-bottom-large"
                [options]="companyTypeOptions"
                [control]="form.get('meta.type')"
            ></app-select-input>
        </div>
    </div>

    <app-sub-section-title class="u-margin-top-large"></app-sub-section-title>
</ng-container>
