<div class="p-about">
    <div class="container">
        <app-page-title
            [title]="'PAGE.ABOUT.TITLE' | translate"
        ></app-page-title>
        <div class="m-card">
            <app-section-title
                [title]="'PAGE.ABOUT.SECTION-1' | translate"
            ></app-section-title>
            <p>
                {{ 'PAGE.ABOUT.CONTENT-1' | translate }}
            </p>
            <app-section-title
                [title]="'PAGE.ABOUT.SECTION-2' | translate"
            ></app-section-title>
            <p>
                {{ 'PAGE.ABOUT.CONTENT-2' | translate }}
            </p>
        </div>
    </div>
</div>
