<div class="p-app-root__footer">
  <div class="container">
    <div class="m-footer">
      <p>
        Made with <i class="fa fa-heart"></i>
        by <a href="https://simulatorradio.com/presenter/felikx" target="_blank">Felikx</a>.
        Got a suggestion or want to add your radio? Send on discord @ Felikx#0001 Or join the <a href="https://discord.gg/sckvYZ3" target="_blank">RadioStats Discord</a>
      </p>
      <div class="m-footer__toggle">
        <label for="theme">
          <input type="checkbox" id="theme" [checked]="darkThemeEnabled === 'true'" (change)="toggleDarkTheme()">
          Dark theme
        </label>
      </div>
    </div>
  </div>
</div>
