<app-menu [actionButton]="actionButton" [profile]="user" (logout)="logout()"></app-menu>

<div class="root">
  <app-steps>
    <cdk-step>
      <ng-template cdkStepLabel>New report</ng-template>
      <input type="text" name="a" value="a" />
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>Input Fraction</ng-template>
      <input type="text" name="b" value="b" />
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>Additives</ng-template>
      <input type="text" name="b" value="b" />
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>Output fraction</ng-template>
      <input type="text" name="b" value="b" />
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>Recycling Efficiency</ng-template>
      <input type="text" name="b" value="b" />
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>Add. Information</ng-template>
      <input type="text" name="b" value="b" />
    </cdk-step>
    <cdk-step>
      <ng-template cdkStepLabel>File report</ng-template>
      <input type="text" name="b" value="b" />
    </cdk-step>
  </app-steps>

  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
