<div class="p-contact">
    <div class="container">
        <app-page-title
            [title]="'PAGE.CONTACT.TITLE' | translate"
        ></app-page-title>
        <div class="m-card--primary">
            <form [formGroup]="contactForm" (ngSubmit)="submit()">
                <div class="l-grid l-grid--with-margins">
                    <div class="l-grid__col-6-12">
                        <app-text-input
                            class="u-margin-bottom-x-large"
                            [control]="contactForm.get('firstname')"
                            [label]="'GENERAL.LABELS.FIRSTNAME' | translate"
                        ></app-text-input>
                    </div>
                    <div class="l-grid__col-6-12">
                        <app-text-input
                            class="u-margin-bottom-x-large"
                            [control]="contactForm.get('lastname')"
                            [label]="'GENERAL.LABELS.LASTNAME' | translate"
                        ></app-text-input>
                    </div>
                </div>
                <app-text-input
                    class="u-margin-bottom-x-large"
                    [control]="contactForm.get('email')"
                    [label]="'GENERAL.LABELS.EMAIL' | translate"
                    type="email"
                ></app-text-input>
                <app-text-input
                    class="u-margin-bottom-x-large"
                    [control]="contactForm.get('subject')"
                    [label]="'GENERAL.LABELS.SUBJECT' | translate"
                ></app-text-input>
                <app-textarea-input
                    class="u-margin-bottom-x-large"
                    [control]="contactForm.get('body')"
                    [label]="'GENERAL.LABELS.MESSAGE' | translate"
                ></app-textarea-input>
                <input type="submit" [value]="'GENERAL.LABELS.SUBMIT' | translate" class="a-button a-button--primary a-button--small">
            </form>
        </div>
    </div>
</div>
