<div class="p-login">
    <div class="p-login__box">
        <h1 class="p-login__title">{{ 'GENERAL.LABELS.WELCOME' | translate }}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="p-login__input">
                <app-text-input
                    [control]="loginForm.get('email')"
                    [label]="'GENERAL.LABELS.EMAIL' | translate"
                    type="email"
                ></app-text-input>
            </div>
            <app-text-input
                [control]="loginForm.get('password')"
                [label]="'GENERAL.LABELS.PASSWORD' | translate"
                type="password"
            ></app-text-input>
            <a [routerLink]="['forgot-password']" class="p-login__reset-password">{{ 'GENERAL.LABELS.FORGOT-PASSWORD' | translate }}</a>
            <input type="submit" [disabled]="!loginForm.valid" [value]="'GENERAL.LABELS.LOGIN' | translate" class="a-button a-button--primary a-button--small">
        </form>
    </div>
</div>
