.p-app-container {
    display: flex;
    flex-direction: column;
}

.p-app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.p-app-root__content {
    display: flex;
    flex-direction: column;
    flex: auto;

    & > ng-component {
        display: flex;
        flex-direction: column;
        flex: auto;
    }
}
