.p-verification {
    background: url("/assets/images/login_background.png") center center;
    background-size: cover;
    min-height: 100vh;

    &__title {
        text-transform: capitalize;
        color: $zodiac;
        margin-bottom: $spacer-xx-large;
    }

    &__box {
        display: flex;
        background-color: $athens-gray;
        min-height: calc(100vh - #{$footer-height});
        justify-content: center;
        flex-direction: column;
        padding: 0 $spacer-xxx-large;
        float: right;
        width: 40%;
        min-width: 600px;
    }
}

@media(max-width: 500px) {
    .p-login .p-login__box {
        width: 100%;
        min-width: auto;
    }
}
