<div class="p-verification">
    <div class="p-verification__box u-align-center">
        <img src="./assets/images/warning.svg" alt="Warning" class="p-verification__visual">
        <h1 class="p-verification__title">{{ 'PAGE.VERIFICATION-FAILED.TITLE' | translate }}</h1>
        <p class="u-mrgin-bottom">{{ 'PAGE.VERIFICATION-FAILED.CONTENT' | translate }}</p>
        <a routerLink="/register" class="a-button--primary u-pull-center">{{ 'GENERAL.LABELS.TRY-AGAIN' | translate }}</a>
    </div>
</div>
