<app-page-title
      *ngIf="page === 'recyclers'"
      [title]="'PAGE.MANAGE-RECYCLERS.TITLE' | translate"
></app-page-title>
<app-page-title
      *ngIf="page === 'authorisation organisations'"
      [title]="'PAGE.MANAGE-AUTHORISATION-ORG.TITLE' | translate"
></app-page-title>
<app-page-title
      *ngIf="page === 'compliance organisations'"
      [title]="'PAGE.MANAGE-COMPLIANCE-ORG.TITLE' | translate"
></app-page-title>
<div class="l-grid__row l-grid--with-margins">
    <div class="l-grid__col-12-12">
        <div *ngIf="(companies$ | async) && (companies$ | async).length !== 0" class="m-card--primary u-margin-bottom-large">
          <app-loading [loading]="loading$ | async">
              <app-companies-table
                *ngIf="(companies$ | async)"
                [companies]="companies$ | async"
                [admin]="false"
              ></app-companies-table>
          </app-loading>
        </div>
        <div *ngIf="!(companies$ | async) || (companies$ | async).length === 0" class="m-card--primary">
          <div class="p-report__no-process">
              <app-section-title
                [title]="'WIZARD.NO-ORGANISATIONS' | translate:{ key: page }"
              ></app-section-title>
              <img class="p-report__visual" src="/assets/images/choose.svg" alt="Choose image">
          </div>
        </div>
    </div>
</div>
